<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">people</i>
                      </div>
                      <p class="card-category">Total Deportistas</p>
                      <h3 class="card-title">{{totalDeportistas}}
                          
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Desde el 14/05/2019
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">accessibility</i>
                      </div>
                     
                      <p class="card-category">Total Ejercicios</p>
                      <h3 class="card-title">{{totalEjercicios}}
                          
                      </h3>

                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Desde el 14/05/2019
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">assignment</i>
                      </div>
                
                      <p class="card-category">Total Rutinas</p>
                      <h3 class="card-title">{{totalRutinas}}
                          
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">date_range</i> Desde el 14/05/2019
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">restaurant</i>
                    </div>
                      <p class="card-category">Total Recetas</p>
                      <h3 class="card-title">{{totalRecetas}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">date_range</i> Desde el 14/05/2019
                      </div>
                  </div>
              </div>
          </div>
      </div>

      

      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                        <div><h1 class="total">{{totalPersonasActivas}}</h1></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Personas Activas</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 85% </span> del total.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> actualizado hace 4 minutos
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                          <div><h1 class="total">{{totalPersonasInactivas}}</h1></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Personas Inactivas</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> actualizado hace 4 minutos
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                        <div><h1 class="total">2</h1></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Entrenamientos Completados</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> actualizado hace 4 minutos
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      
  </div>
</div>
